{% extends 'base.html' %}

{% block content %}
    <article>
        <h1 class="t_nav"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span><a href="/" class="n1">网站首页</a><a href="#" class="n2">留言板</a>
        </h1>
        <div class="ab_box">
            {#            <div class="leftbox">#}
            {#                <div class="newsview">#}
            {#                    <div class="news_infos"> 此处安装插件</div>#}
            {#                </div>#}
            {#            </div>#}


            <div class="rightbox">
                <div class="aboutme">
                    <h2 class="hometitle">关于我</h2>
                    <div class="avatar"><img src="../static/images/avatar.jpg"></div>
                    <div class="ab_con">
                        <p>wq</p>
                        <p>python</p>
                        <p></p>
                        <p></p>
                    </div>
                </div>

                {% include 'wechat.html' %}

            </div>
        </div>
    </article>
{% endblock %}