<div class="lmnav">
    <h2 class="hometitle">栏目导航</h2>
    <ul class="navbor">
        <li><a href="#">关于我</a></li>
        <li><a href="/categories/share">分享</a>
            <ul>
                <li><a href="/categories/share">技术分享</a></li>
                <li><a href="/categories/share">文章分享</a></li>
            </ul>
        </li>
        <li><a href="/categories/study">学无涯</a>
            <ul>
                <li><a href="/categories/study">学习笔记</a></li>
            </ul>
        </li>
        <li><a href="/categories/life/">慢生活</a></li>
        <ul>
            <li><a href="/categories/life">阅读感悟</a></li>
        </ul>

    </ul>
</div>